.time-form {
  position: relative;

  border: none;
}

.legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  color: var(--company-color);

  margin-bottom: 30px;
}

.legend .icon {
  margin-right: 10px;
}

.legend .title {
  position: relative;
  top: 2px;
  width: auto;
}

.form-control {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 30px auto;

  margin-left: 20px;
  margin-right: 20px;
}

.time-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.time-control input {
  width: 6em;

  border: none;
  outline: none;

  background-color: var(--app-background-color);

  border-radius: 5px;
  padding: 5px;

  text-align: right;
}

.form-control .icon {
}

.form-control .label {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.duration-controls {
  width: 6em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.duration-controls input {
  width: 50%;
  width: 2em;
}
