<div class="month-progress-bar">
  <ng-container *ngIf="(activitiesState$ | async)?.loading || (holidaysState$ | async)?.loading; then showLoadingSpinner; else showProgress">

  </ng-container>
  <ng-template #showLoadingSpinner>
    <div class="month-progress-loading">
      <app-loading-spinner></app-loading-spinner>
    </div>

  </ng-template>

  <ng-template #showProgress>
    <!--div class="progress-bar-container">
      <div class="separators">
        <div class="separator" style="left: 25%"></div>
        <div class="separator" style="left: 50%"></div>
        <div class="separator" style="left: 75%"></div>
      </div>
      <div class="progress-bar" [style.width.%]="totalWorkedMinutes / totalWorkableMinutesThisMonth * 100">
      </div>
    </div-->
    <div class="details">
      <div class="item">
        <div class="total">{{ totalWorkedMinutes | hoursAndMinutes }} h</div>
        <div class="label">Hasta ahora</div>
      </div>
      <div class="item">
        <div class="workable">{{ totalWorkableMinutesThisMonth | hoursAndMinutes }} h</div>
        <div class="label">Total</div>
      </div>
      <div class="item" *ngIf="!isSelectedDateInTheFuture">
        <div class="difference" [ngClass]="minutesDifference >= 0 ? 'positive' : 'negative'">
          {{ minutesDifference >= 0 ? "+" : "-"}} {{ minutesDifference | hoursAndMinutes }}h
        </div>
        <div class="label">Balance actual</div>
      </div>


    </div>
  </ng-template>

</div>