.sliding-calendar {
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 50px;
  transition: transform 0.3s linear;
  z-index: 5;
}

.sliding-calendar.hide {
  transform: translate3d(0, -100vh, 0);
}

.sliding-calendar.show {
  transform: translate3d(0, 0vh, 0);
}

.header-weekdays {
  height: 2rem;
}
.header-weekdays span {
  font-size: 0.8rem;
  display: block;
  float: left;
  width: 14.28571%;
  padding: 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.monthsection-name {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(81, 86, 93, 0.4);
  line-height: 0.1em;
  margin: 10px 0 20px;
  text-transform: uppercase;
}

.monthsection-name span {
  background: #fff;
  font-weight: bold;
  color: #98a0a6;
  padding: 0 10px;
}

.monthsection-daygrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
  margin: 0 auto;
  max-width: 64em;
  padding: 10px;
}

.monthsection-daygrid-day {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.monthsection-daygrid .monthsection-daygrid-day {
  height: 12vw;
  max-height: 125px;
}

.monthsection-daygrid-day.mod-disabled {
  color: rgba(81, 86, 93, 0.4);
}

.monthsection-daygrid-day.mod-selected {
  background-color: #3fefef;
  border: 1px solid #3fefef;
  color: white;
}

.monthsection-daygrid-day.mod-vacation {
  background-color: #87cefa;
  border: 1px solid #87cefa;
  color: white;
}

.monthsection-daygrid-day.mod-holiday {
  background-color: #f5d500;
  border: 1px solid #f5d500;
  color: white;
}

.mod-containsactivities::after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: var(--autentia-color);
  border-radius: 5px;
  margin-top: 15px;
}

.noscroll {
  overflow: hidden;
}
