<a class="activity-card" href="">
  <div class="title">{{ activity.projectRole.project.name }}</div>
  <i class="flag material-icons" *ngIf="activity.billable">
    euro_symbol
  </i>
  <div class="times">
    <div class="range">
      <span class="start">{{ activity.startDate | date:"hh:mm" }}</span>
      <span>-</span>
      <span class="end">{{ activity.startDate | calculateEndDate:activity.duration | date:"hh:mm" }}</span>
    </div>
    <div class="duration">{{ activity.duration | hoursAndMinutes}} h</div>
  </div>
  <div class="description">
    {{ activity.description }}
  </div>
</a>