.activity-card {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;

  background-color: var(--card-background-color);

  box-shadow: var(--card-box-shadow);

  border-radius: 5px;

  padding: 10px;

  text-decoration: none;
  color: var(--font-color);

  user-select: none;
}

.activity-card:active {
  background-color: #ebebeb;
}

.title {
  font-size: 1em;
  font-weight: 400;
}

.flag {
  position: absolute;

  top: 10px;
  right: 10px;

  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 15px;
  color: white;

  background-color: var(--billable-color);

  border-radius: 50%;
}

.times {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-style: italic;
  font-weight: lighter;

  margin-top: 10px;

  color: var(--font-color-light);
}

.times .range .start {
  margin-right: 5px;
}

.times .range .end {
  margin-left: 5px;
}

.times .duration {
  margin-left: 10px;
  font-weight: normal;
  font-style: normal;
}

.description {
  color: var(--font-color-light);
  font-weight: lighter;

  margin-top: 10px;
}
