<a class="activity-card" href="">
  <div class="title">{{ activity.projectRole.project.name }}</div>
  <i class="flag material-icons" *ngIf="activity.billable">
    attach_money
  </i>
  <div class="times">
    <span class="start">{{ activity.startDate | date:"hh:mm" }}</span>
    <span>-</span>
    <span class="end">{{ activity.startDate | calculateEndDate:activity.duration | date:"hh:mm" }}</span>
    <span class="hours">{{ activity.duration | hoursAndMinutes}}</span>
  </div>
  <div class="description">
    {{ activity.description }}
  </div>
</a>