<header class="header">
  <button>
    <i class="menu-button material-icons">
      menu
    </i>
  </button>
  <div class="month-button">
    <div>September</div>
    <i class="material-icons">
      keyboard_arrow_down
    </i>
  </div>
</header>
<app-month-progress-bar></app-month-progress-bar>
<div class="day-list">
  <app-day-mobile></app-day-mobile>
  <app-day-mobile></app-day-mobile>
  <app-day-mobile></app-day-mobile>
  <app-day-mobile></app-day-mobile>
  <app-day-mobile></app-day-mobile>
  <app-day-mobile></app-day-mobile>
</div>