<section #activities class="activities">
  <app-activity-preview></app-activity-preview>
  <header class="header">
    <button class="menu-button" (click)="showNavigationDrawer()">
      <i class="material-icons"> menu </i>
    </button>
    <button class="month-button" (click)="toggleCalendarMenu()">
      <div #monthButtonLabel>
        {{
          isCalendarMenuDeployed
            ? 'Calendario'
            : ((calendarState$ | async)?.selectedDate | date: 'MMMM')
        }}
      </div>
      <i class="material-icons">
        {{
          isCalendarMenuDeployed ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
        }}
      </i>
    </button>
  </header>
  <app-calendar-menu
    [isDeployed]="isCalendarMenuDeployed"
    (onDaySelected)="changeSelectedDate($event)"
  ></app-calendar-menu>
  <app-month-progress-bar></app-month-progress-bar>
  <ng-container
    *ngIf="
      (activitiesState$ | async)?.loading || (holidaysState$ | async)?.loading;
      then: showActivitiesLoading;
      else: showDayList
    "
  ></ng-container>
  <ng-template #showActivitiesLoading>
    <div class="activities-loading">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </ng-template>
  <ng-template #showDayList>
    <span class="rail"></span>
    <div class="day-list">
      <ng-container
        *ngFor="let day of (activitiesState$ | async)?.days; index as index"
      >
        <app-week-separator
          *ngIf="(day.date | isMonday)"
          [monday]="day.date"
        ></app-week-separator>
        <app-day-mobile
          #dayList
          id="day-{{index}}"
          ng-if="day.activities.length > 0"
          [date]="day.date"
          [totalHours]="day.total_hours"
          [activities]="day.activities"
        ></app-day-mobile>
      </ng-container>
    </div>
  </ng-template>
</section>
