:root {
  --company-color: #3148aa; /** #79BD8F **/
  --company-contrast-color: #3fefef;

  --app-background-color: #f2f2f2;

  --card-background-color: white;
  --card-box-shadow: 0px 3px 6px #00000016;

  --app-font-family: 'Roboto', sans-serif;

  --font-size-title: 26px;
  --font-size-regular: 18px;

  --font-color: #707070;
  --font-color-light: #70707080;

  --header-height: 50px;

  --public-holiday-color: #00bfff;
  --private-holiday-color: #6fc937;

  --positive-hours-difference: limegreen;
  --negative-hours-difference: crimson;

  --billable-color: #5cb85c;

  --active-background-color: #0000000d;
}
