<section class="login-page">
  <img class="logo" src="assets/svg/logo-autentia.svg" alt="Autentia" />
  <div #card class="card">
    <form [formGroup]="credentials" class="form">
      <div class="input-container">
        <div class="form-control">
          <input formControlName="username" class="input" type="text" value="admin" autofocus required />
          <label class="label"><i class="material-icons">
              person
            </i></label>
        </div>
        <div class="form-control">
          <input formControlName="password" class="input" type="password" value="adminadmin" (keyup.enter)="handleSubmit()"
            required />
          <label class="label"><i class="material-icons">
              lock
            </i></label>
        </div>
      </div>
      <button type="button" class="button" (click)="handleSubmit()" [disabled]="(loginState$|async).loading || credentials.invalid">
        <ng-container *ngIf="(loginState$|async).loading; then loadingSpinner; else loginButton"></ng-container>
        <ng-template #loginButton>Login</ng-template>
        <ng-template #loadingSpinner>
          <app-loading-spinner></app-loading-spinner>
        </ng-template>
      </button>
    </form>
  </div>
</section>