<div class="day">
  <div class="selector">
    <div class="point"></div>
    <div class="monthday">{{ date | date:"d"}}</div>
    <div class="weekday">{{ date | date:"E"}}</div>
    <div class="hours">
      <i class="material-icons hours__icon">access_time</i>
      <span class="hours__digit">{{ totalHours | hoursAndMinutes }}</span>
    </div>
  </div>
  <div class="activity-list">
    <app-activity-card-mobile *ngFor="let activity of activities" [activity]="activity"></app-activity-card-mobile>
  </div>
</div>