<div class="day">
  <div class="selector" [ngClass]="{'current-day': isCurrentDay()}">
    <div class="point"></div>
    <div class="monthday" [ngClass]="{'public-holiday': isPublicHoliday, 'private-holiday': isPrivateHoliday}">{{
      date | date:"d"}}</div>
    <div class="weekday" [ngClass]="{'public-holiday': isPublicHoliday, 'private-holiday': isPrivateHoliday}">{{ date |
      date:"EE"}}</div>
    <div class="hours" *ngIf="totalHours > 0">
    </div>
  </div>
  <div class="activity-list">
    <ng-container *ngIf="activities.length > 0; then showActivityList; else showEmptyActivityList"></ng-container>
    <ng-template #showActivityList>
      <app-activity-card-mobile *ngFor="let activity of activities" [activity]="activity"></app-activity-card-mobile>
    </ng-template>
    <ng-template #showEmptyActivityList>
      <button class="add-activity-button" [routerLink]="['/activities/new']"><i class="material-icons">
          add
        </i>Actividad</button>
    </ng-template>
  </div>
  <div class="footer" *ngIf="totalHours > 0">
    <button class="add-activity-button" [routerLink]="['/activities/new']"><i class="material-icons">
        add
      </i>Actividad</button>
    <div class="total-hours">
      Total día <div class="digit"> {{ totalHours | hoursAndMinutes }}</div> h</div>
  </div>
</div>