<section class="activity-form">
  <header class="header">
    <a class="back-button" [routerLink]="['/activities']">
      <i class="material-icons">
        arrow_back
      </i>
    </a>
    <div class="title">
      Actividad
    </div>
  </header>
  <div class="form">
    <div class="form-row">
      <div class="legend">
        <i class="material-icons icon">
          access_time
        </i>
        <div class="title">Tiempo</div>
      </div>
      <div class="time-control">
        <label class="label">Inicio</label>
        <input type="time">
      </div>
      <div class="time-control">
        <label class="label">Fin</label>
        <input type="time">
      </div>
      <div class="time-control">
        <label class="label">Total</label>
        <input type="time">
      </div>
    </div>
    <div class="form-row billable">
      <div class="legend">
        <i class="material-icons icon">
          euro_symbol
        </i>
        <div class="title">Facturable</div>
      </div>
      <div class="form-control billable">
        <button type="button" class="billable-button negative">No</button>
        <button type="button" class="billable-button positive">Sí</button>
      </div>
    </div>
    <div class="form-row description">
      <div class="legend description">
        <i class="material-icons icon">
          description
        </i>
        <div class="title">Descripción</div>
      </div>
      <div class="description">
        <div class="client-warning">
          <i class="material-icons icon">
            warning
          </i>
          El cliente leerá esta descripción.
        </div>
        <textarea class="textarea"></textarea>
      </div>
    </div>
    <div class="form-row proyect">
      <div class="legend">
        <i class="material-icons icon">
          assignment
        </i>
        <div class="title">Proyecto</div>
      </div>
      <div class="shortcut-label">Recientes</div>
      <div class="shortcut-list">
        <div class="shortcut">BBVA Global Tech</div>
        <div class="shortcut">KN Localization</div>
        <div class="shortcut">IBERIA Fly Away</div>
      </div>
      <div class="form-control">
        <i class="material-icons icon">
          account_balance
        </i>
        <div class="label">Organización</div>
        <input list="organizations">
        <datalist id="organizations">
        </datalist>
      </div>
      <div class="form-control">
        <i class="material-icons icon">
          group
        </i>
        <div class="label">Proyecto</div>
        <input list="organizations">
        <datalist id="organizations">
        </datalist>
      </div>
      <div class="form-control">
        <i class="material-icons icon">
          person
        </i>
        <div class="label">Rol</div>
        <input list="organizations">
        <datalist id="organizations">
        </datalist>
      </div>
    </div>
    <div class="footer">
      <button type="button" class="button delete">Eliminar</button>
      <button type="button" class="button save">Guardar</button>
    </div>
  </div>
</section>