<section class="activity-form">
  <header class="header">
    <a class="back-button" [routerLink]="['/activities']">
      <i class="material-icons">
        arrow_back
      </i>
    </a>
    <div class="title">
      {{ date | date:"EE d LLLL"}}
    </div>
  </header>
  <div class="form">

    <app-time-form [activityStartDate]="activity.startDate" [activityDuration]="activity.duration" (onChange)="onTimeFormChange($event)"></app-time-form>
    <div class="form-row billable">
      <div class="legend billable">
        <i class="material-icons icon">
          euro_symbol
        </i>
        <div class="title">Facturable</div>
      </div>
      <div class="form-control billable">
        <label class="switch" for="checkbox">
          <input type="checkbox" id="checkbox" [(ngModel)]="formValue.billable" />
          <div class="slider round"></div>
        </label>
        <div class="client-warning" [ngClass]="{'visible': formValue.billable}">
          <i class="material-icons icon">
            warning
          </i>
          El cliente leerá la descripción.
        </div>
      </div>
    </div>
    <div class="form-row description">
      <div class="legend description">
        <i class="material-icons icon">
          description
        </i>
        <div class="title">Descripción</div>
      </div>
      <div class="description">
        <textarea class="textarea" [(ngModel)]="formValue.description" placeholder="Tareas realizadas..."></textarea>
      </div>
    </div>
    <app-project-form [date]="activity.startDate" [activityProjectRole]="activity.projectRole" (onChange)="onProjectRoleChange($event)"></app-project-form>
    <div class="footer">
      <ng-container *ngIf="databaseChangeLoading$ | async; then databaseChangeLoading; else showButtons">
      </ng-container>
      <ng-template #showButtons>
        <button type="button" class="button delete" *ngIf="isModifying" (click)="onDeleteActivity()">Eliminar</button>
        <button type="button" class="button save" (click)="onSaveActivity()" [disabled]="!isFormValid()">Guardar</button>
      </ng-template>
      <ng-template #databaseChangeLoading>
        <div class="footer-loading">
          <app-loading-spinner></app-loading-spinner>
        </div>
      </ng-template>
    </div>
  </div>
</section>